img {
    width: 100%;
    height: 210px;
}

.demo {
    display: flex;
    justify-content: space-evenly;
}

.k-card-body h4 {
    text-align: center;
}

.recipe-wrap {
    padding-top: 12px;
}

.k-icon {
    font-size: 14px;
    margin-right: 4px;
}

.k-card-actions-vertical.k-card-actions-start .k-button,
.k-card-actions-vertical.k-card-actions-end .k-button {
    width: 50px;
}

.k-card-separator {
    height: auto;
}

.k-icon.k-i-heart {
    color: #ff6358;
}

.example-config {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 315px;
}

.product_card {
    background: #fff;
}


.product_card:hover {
    box-shadow: 1px 8px 20px rgb(177, 175, 175);
    -webkit-transition:  box-shadow .6s ease-in;
    cursor: pointer !important;
}

.active{
    color: #fff !important;
    border-radius: 40px;
}

.active, .btn:hover {
    background-color: #666;
    color: white !important;
}

.card{
    border: none !important;
}

.card-header{
    background-color: none;
    padding: 0px !important;
}

.welcome_text{
    position: absolute;
    top: 50%;
    left: 40%;
}