.top_navbar{
    height: 73px;
}
.main_wrapper{
    margin-top: 35px !important;
    width: 90%;
    margin: 0px auto;
    // background-color: antiquewhite !important;
    height: auto;
    min-height: 500px;
}
.fa{
    position: relative;
}
