<nav class="top_navbar navbar navbar-expand-lg navbar-light bg-dark shadow-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <h5 class="text-light" (click)="redirect()" style="cursor:pointer">DEMO STORE</h5>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mr-auto">
        <a routerLink="./cart">
          <i class="fa fa-cart-arrow-down text-light" aria-hidden="true"> 
            <span class="pl-2 cart">{{productNumber}}</span>
          </i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="main_wrapper">
  <router-outlet></router-outlet>
</div>