<nav class="top_navbar navbar navbar-expand-lg navbar-light bg-dark shadow-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <h5 class="text-light">DEMO STORE</h5>
      </li>
    </ul>
  </div>
</nav>
<div class="main_wrapper">
  <router-outlet></router-outlet>
</div>